.banner {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: pink;
}
.carousel__wrapper {
    width: 500px !important;
    height: 500px !important;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and  (min-width: 640px) {
    .carousel__wrapper {
        margin-left: auto;
    margin-right: auto;
    }
}